In [1]:
## Librerias

#!pip install spotipy 
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [2]:
import pandas as pd

In [3]:
import requests

### 1. Hay que crear la APP en la web Spotify for Developers, vamos a usar el client_id y el client_secret.

In [18]:
CLIENT_ID = 'db890b417c2b4533bb433997e77ef54c'
CLIENT_SECRET = '16968d5378ec48ea980dd0eec52ed891'

In [19]:
# Autenticación
auth_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(auth_manager=auth_manager)

In [20]:
bd_pop = []
for i in range(2000, 2003):  
    print(f'Empezando extracción para el año: {i}') 
    query = f'genre:pop year:{i}'
    print(query)
    for x in range(0, 300, 50):
        datos = sp.search(q = query, type = 'track', limit = 50, offset = x)
        bd_pop.append(datos)
        print(x)

Empezando extracción para el año: 2000
genre:pop year:2000
0
50
100
150
200
250
Empezando extracción para el año: 2001
genre:pop year:2001
0
50
100
150
200
250
Empezando extracción para el año: 2002
genre:pop year:2002
0
50
100
150
200
250

In [24]:
resultados = []
artistas = []

for i in range(0,18):
    for item in bd_pop[i]["tracks"]["items"][:50]:
        resultados.append({
           'artista':item['artists'][0]['name'],
           'id_artista':item['artists'][0]['id'], 
           'genero':'pop',
           'tipo':item['type'],
           'nombre':item['name'], #if item['name'] else "Sin Datos" > programación defensiva! (Usar try except!)
           'anio_lanzamiento':item['album']['release_date'][:4], #if item['album']['release_date'] else "Sin Datos"
           'id':item['id']})
        artistas.append(item['artists'][0]['name'])

In [25]:
len(artistas)

900

In [26]:
artistas = list(set(artistas))

In [27]:
len(artistas)

618

In [28]:
df_pop = pd.DataFrame(resultados)

In [29]:
df_pop.head()

,artista,id_artista,genero,tipo,nombre,anio_lanzamiento,id
0,Greta y los Garbo,1JLQBaGeAWCLJS1bxNcSOg,pop,track,Todo,2000,0bmKhOy0RxziKWkgIsHSZ4
1,Meteosat,3KKsRxoHn0UqQYA4AAfwpN,pop,track,Starship - English Version,2000,2nhtNzoIwzxgqMDHJjc9Tq
2,Andrés Calamaro,3tAICgiSR5PfYY4B8qsoAU,pop,track,Jugar con fuego,2000,2Y4AW6LTpQSEpgo01uKpg6
3,Rafael Medina,47EplFbg4okyGPSZeB1rHe,pop,track,Cinco Minutos,2000,35EXdiVRByymNwgczajPaD
4,El Niño Gusano,3U9CI4vQwxLoAeovpgT9ZH,pop,track,Yukón,2000,1Wl1mdUDKfPnFmE1CT5qdy

In [30]:
df_pop_artistas = pd.DataFrame(artistas)

In [31]:
df_pop_artistas.head()

                   0
0   Ildikó Keresztes
1             Amalia
2       Elsie Bayron
3  Gal George Gjurin
4       Honey Family

In [16]:
df_pop_artistas.to_csv('pop_artistas.csv')

In [17]:
df_pop.to_csv('pop_resultados.csv')