In [2]:
pip install spotipy

Collecting spotipy
  Downloading spotipy-2.25.1-py3-none-any.whl.metadata (5.1 kB)
Collecting redis>=3.5.3 (from spotipy)
  Downloading redis-6.2.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: requests>=2.25.0 in c:\users\esthe\anaconda3\lib\site-packages (from spotipy) (2.32.3)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\esthe\anaconda3\lib\site-packages (from spotipy) (2.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\esthe\anaconda3\lib\site-packages (from requests>=2.25.0->spotipy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\esthe\anaconda3\lib\site-packages (from requests>=2.25.0->spotipy) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\esthe\anaconda3\lib\site-packages (from requests>=2.25.0->spotipy) (2025.4.26)
Downloading spotipy-2.25.1-py3-none-any.whl (31 kB)
Downloading redis-6.2.0-py3-none-any.whl (278 kB)
Installing collected packages: redis, spotipy
Successfully installed redis-6.2.0 spotipy-2.25.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [47]:
import pandas as pd
import requests
import re
import json

In [6]:
CLIENT_ID = 'f055a014c318407cae9ddfef089b23cd'
CLIENT_SECRET = '86ff0623bc6448b095b62e702f039d1e'

In [7]:
# Autenticación
auth_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(auth_manager=auth_manager)

In [8]:
# Géneros seleccionados > 4 o 5 generos 
generos = ['indie']

# Rango de años (2000 a 2002 en este ejemplo) > De 2 a 5 años
anio_inicio = 2000
anio_fin = 2002

In [ ]:
query = "genre:indie year:2000" # Solo vamos a pasar el genero y el año en la query
offset = 0 # El offset sirve para pasar página
total_results = 0
datos = sp.search(q=query, type='track', limit=50, offset=offset)

In [15]:
bd_indie = []
for i in range(2000, 2003):
    print(f'Empezando extracción para el año: {i}')
    query = f'genre:pop year:{i}'
    print(query)
    for x in range(0, 300, 50):
        datos = sp.search(q = query, type = 'track', limit = 50, offset = x)
        bd_indie.append(datos)
        print(x)

Empezando extracción para el año: 2000
genre:pop year:2000
0
50
100
150
200
250
Empezando extracción para el año: 2001
genre:pop year:2001
0
50
100
150
200
250
Empezando extracción para el año: 2002
genre:pop year:2002
0
50
100
150
200
250

In [36]:
resultados = []
artistas = []
for i in range(0,18):
    for item in bd_indie[i]["tracks"]["items"][:50]:
        resultados.append({
           'artista':item['artists'][0]['name'],
           'genero':'indie',
           'tipo':item['type'],
           'nombre':item['name'], #if item['name'] else "Sin Datos" > programación defensiva! (Usar try except!)
           'anio_lanzamiento':item['album']['release_date'][:4], #if item['album']['release_date'] else "Sin Datos"
           'id':item['id']})
        artistas.append(item['artists'][0]['name'])

In [37]:
len(resultados)

900

In [38]:
len(artistas)

900

In [40]:
artistas2 = set(artistas)

In [41]:
len(artistas2)

593

In [42]:
type(artistas2)

set

In [43]:
artistas = list(set(artistas))

In [44]:
len(artistas)

593

In [48]:
df = pd.DataFrame(resultados)
df.head()

,artista,genero,tipo,nombre,anio_lanzamiento,id
0,Danza Invisible,indie,track,Lo que queda del amor,2000,1IlqUDoXCp4Wq5FoOPOCmS
1,Greta y los Garbo,indie,track,Todo,2000,0bmKhOy0RxziKWkgIsHSZ4
2,Víctor Manuelle,indie,track,He Tratado,2000,1BY0hau7A70wT7S8DsQyxE
3,Bonet de San Pedro,indie,track,Carita de Ángel (Fox Canción),2000,2ddI27bwreqSLU2uKgSGT2
4,Meteosat,indie,track,Starship - English Version,2000,2nhtNzoIwzxgqMDHJjc9Tq

In [50]:
df.to_csv('indie_resultados.csv')

In [51]:
df_artistas = pd.DataFrame(artistas)
df_artistas.head()

               0
0    Dharampreet
1  Lâm Nhật Tiến
2  Satellites LV
3  Abida Parveen
4    Allen Clapp

In [52]:
df_artistas.to_csv('indie_artistas.csv')